body{
    background-image:url("imagestask2/bg.jpg");
    background-size:cover;
    font-family:'Trebuchet MS';
    align-items:center;
}
.request{
    margin-left: 882px;
    background-color:rgb(63,95,145);
    color: white;
    height:25px;
    align-items: center;
    margin-right:206px ;

}
.requestitem{
    padding-left:5px;
    padding-top: 6px;
    padding-bottom: 5px;
}
.request .requestitem:not(:last-child)::after{
    content: '|';
    padding-left: 6px;
}
.request > span{
    padding-right:2px;
}
.navigationbar{
    display:flex;
    margin-top:44px;
    margin-left: 290px;
    margin-right: 206px;
    background-color:rgb(45,50,64);
    height:70px;
    font-size:20px;
    align-items:center;
    font-weight:lighter;
    position: relative;
}
.logo{
    padding-right: 28px;
    padding-left:14px;
    z-index:1;
}
.navigationbar > div >a{
    color:skyblue;
    padding: 10px 14px;
}
.navigationbar .navitem:not(:last-child)::after{
    content: '|';
    color:white;

}
.navitema:hover{
    background-color:rgb(72,104,129);
    color:white;
    width: inherit;
    border-radius: 5px;
}
#navitem3{
    text-decoration:none;
}
#navitem3:hover{
    background-color:rgb(72,104,129);
    color:white;
}
.navigationbar::after{
    border: 1px solid rgba(128, 128, 128, 0.4);
    content:'';
    position:absolute;
    top:4px;
    bottom:4px;
    right: 4px;
    left: 4px;
}
.navitem{
    z-index:10;
}
h1{
    margin-left: 290px;
    margin-right: 206px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:39px;
    padding-bottom:20px;
    padding-left: 30px;
    font-weight:lighter;
    font-size:45px;
    color: white;
    font-family:'Trebuchet MS';
    line-height:1.1;
    letter-spacing: 10px;
    background-color:rgba(0, 0, 0,0.25);
}
.about{
    display: flex;
    margin-left: 290px;
    margin-right: 206px;
    gap:3px;
    
    background-color:rgba(25, 27, 44, 0.9);
    position: relative;

}
.about > div{
    color:white;
    width:265px;
    margin: 20px;
    padding-left: 13px;
    line-height:1.42;
    margin-bottom: 0;
} 
.about::after{
    border: 1px solid rgba(128, 128, 128, 0.4);
    content: '';
    position:absolute;
    top:5px;
    bottom:5px;
    right: 5px;
    left: 5px;
}
.images{
    height: 150px;
    width: 290px;
}
#c1, #c2,#c3{
    text-decoration: underline;
    padding-bottom: 0px;
    color: rgb(154,190,205);
}
.foot{
    margin-left: 290px;
    margin-right: 206px;
    border: 1px;
    padding-left: 170px; 
    background-color:rgb(41,65,109);
    opacity:0.78;
    margin-top: 20px;
    color:white;
    height:25px;
    padding-top: 2px;
}
#contact1::after{
    content: '|';
}
.contactus > a{
    text-decoration: underline;
    padding-right:8px;
}