body{
    background-image:url("imagestask2/bg.jpg");
    background-size:cover;
    font-family:'Trebuchet MS';
    align-items:center;
}
.request{
    margin-left: 802px;
    background-color:rgba(57,72,76,0.53);
    color: white;
    margin-right:242px ;

}
.requestitem::after{
    content: '|';
    padding-right:2px;
    padding-left: 5px;
}
.request > span{
    padding-right:2px;
}
.navigationbar{
    display:flex;
    margin-top:44px;
    margin-left: 303px;
    margin-right: 242px;
    background-color:rgb(45,50,64);
    height:70px;
    border: 4px double rgba(128, 128, 128, 0.4);
    border-spacing: 10px;
    align-items:center;
}
.navigationbar > div{
    padding-left:15px;
    color:skyblue;
    padding-right:2px;
    font-size:18px;
    line-height:1.1;
}
.navitem::after{
    content: '|';
    padding-left: 20px;
}
.navitem:hover{
    background-color:skyblue;
    color:white;
    border-radius: 5px;
}
#navitem5:hover{
    background-color:skyblue;
    color:white;
    border-radius: 5px;
}
#navitem3{
    text-decoration:none;
    color:skyblue;
}
h1{
    margin-left: 303px;
    margin-right: 242px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:39px;
    padding-bottom:20px;
    padding-left: 15px;
    font-weight:lighter;
    font-size:45px;
    color: white;
    font-family:'Trebuchet MS';
    line-height:1.1;
    letter-spacing: 10px;
    background-color:rgba(0, 0, 0,0.25);
}
.about{
    display: flex;
    margin-left: 303px;
    margin-right: 242px;
    background-color:rgba(25, 27, 44, 0.9);
        border: 4px double rgba(128, 128, 128, 0.4);

}
.about > div{
    color:white;
    width:260px;
    margin: 20px;
    padding-left: 13px;
    line-height:18px;
} 
#c1, #c2,#c3{
    text-decoration: underline;
    padding-bottom: 2px;
    color: rgb(154,190,205);
}
.foot{
    margin-left: 303px;
    margin-right: 242px;
    border: 1px;
    padding-left: 200px; 
    background-color:rgba(38,47,90,0.6);
    opacity:0.78;
    margin-top: 20px;
    color:white;
    height:25px;
    padding-top: 2px;
}
.contactus{
    color:white;
    text-decoration: underline;
}
#contact1::after{
    content: '|';
    padding-left: 5px;
    text-decoration: none;
}