body{
    background-image:url("/imagestask2/bg.jpg");
    background-size:cover;
    font-family:'Trebuchet MS';
}
.request{
    margin-left: 802px;
    background-color: rgba(128, 128, 128,0.75);
    color: white;
    margin-right:300px ;

}
.requestitem::after{
    content: '|';
    padding-right:2px;
    padding-left: 5px;
}
.request > span{
    padding-right:2px;
}
.navigationbar{
    display:flex;
    margin-top:44px;
    margin-left: 245px;
    margin-right: 300px;
    background-color:rgb(45,50,64);
    height:70px;
    align-items:center;

}
.navigationbar > div{
    padding-left:15px;
    color:skyblue;
    padding-right:2px;
}
.navitem::after{
    content: '|';
    padding-left: 20px;
}
h1{
    margin-left: 245px;
    margin-right: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:39px;
    padding-bottom:20px;
    padding-left: 15px;
    font-weight:lighter;
    font-size:50px;
    color: white;
    font-family:'Trebuchet MS';
    line-height:1.1;
    letter-spacing: 10px;
    background-color:rgba(0, 0, 0,0.25);
}
.about{
    display: flex;
    margin-left: 245px;
    margin-right: 300px;
    background-color:rgb(45,50,64,0.85);

}
.about > div{
    color:white;
    width:260px;
    margin: 26px;
} 

.foot{
    margin-left: 245px;
    margin-right: 300px;
    border: 1px;
    padding-left: 200px; 
    background-color:rgb(45,50,64);
    opacity:0.78;
    margin-top: 20px;
    color:white;
    height:25px;
    padding-top: 2px;
}
.contactus{
    border-style: none none solid none;
}
#contact1{
    border-bottom: 30px;
}
#contact1::after{
    content: '|';
    padding-left: 10px;
}